.header {
  display: flex;
  height: 100%;
  width: 100%;
}

.header-appname {
  flex: auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
}

.header-appname h2 {
  color: grey;
  font-weight: 400;
}

.header-user {
  padding: 20px 20px 0 20px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: end;
}

.header-logout {
  border: none;
  background-color: var(--button);
  padding: 5px;
  border-radius: 4px;
}
.header-logout:hover {
  background-color: var(--hover);
}
