.header {
  display: flex;
}

.header-appname {
  display: flex;
  align-items: center;
  padding: 20px;
}

.header-appname h2 {
  color: grey;
  font-weight: 400;
}

.header-user {
  display: flex;
  flex-direction: column;
}

.header-logout {
  border: none;
  background-color: var(--button);
  padding: 5px;
  border-radius: 4px;
}
.header-logout:hover {
  background-color: var(--hover);
}
@media (min-width: 651px) {
  .header {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: space-between;
  }
  .header-appname {
    justify-content: flex-start;
    align-items: center;
    padding: 1rem;
  }
  .header-user {
    padding: 1rem 1rem 0 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
  }
}
@media (max-width: 650px) {
  .header {
    flex-direction: column;
  }
  .header-appname {
    flex-direction: column;
    padding: 1rem 1rem 0 1rem;
  }
  .header-user {
    padding: 1rem;
    flex-direction: column;
    justify-content: end;
    align-items: end;
  }
}
