.filecontent {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.fc-box {
    display: flex;
    flex-direction: column;
    background-color: #efefef;
    padding: 0.5rem;
    width: 100%;
    border-radius: 7px;
}
.fc-header {
    display: flex;
}
.fc-folder-name {
    margin-right: 0.5rem;
    margin-left: 0.5rem;
}
.fc-addfiles {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
#fc-input[type="file"] {
    visibility: hidden;
}
.fc-upload {
    display: inline-block;
}
.fc-upload:hover {
    background-color: var(--hover);
    border-radius: 4px;
}
.fc-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-right: 0.5rem auto;
    background-color: white;
    border-radius: 4px;
    padding: 5px;
}
.fc-item-row {
    display: flex;
    flex-direction: column;
    width: 100%;
}
.fc-item-row2 {
    display: flex;
}

.fc-item-row2 img {
    background-color: rgba(255, 255, 255, 0);
}
.fc-item {
    width: 100%;
    padding: 0.5rem;
}
.fc-delete, .fc-download {
    border: none;
    background-color: rgba(255, 255, 255, 0);
}
.fc-download img {
    background-color: rgba(0, 0, 0, 0);
}
.fc-download:hover {
    background-color: var(--hover);
    border-radius: 4px;
}
.fc-delete img {
    background-color: #00000000;
}
.fc-delete:hover {
    background-color: lightcoral;
    border-radius: 4px;
}

.fc-delFolder {
    display: flex;
    justify-content: end;
    align-items: center;
    background-color: bisque;
}
.fc-delFolder-buttons {
    margin: 0.5rem;
}